@mixin cardStyle
{
  .card
  {
    width: calc(100% / 8);
    position: relative;
    border: none;

    .poster
    {
      width: 100%;
      height: 100%;
      transition: all 1.5s;


      img
      {
        width: 100%;
        height: 100%;
        color: black;
        font-size: 30px;
        background: rgb(57, 5, 5);
        background: linear-gradient(0deg, rgba(57, 5, 5, 1) 0%, rgba(14, 150, 107, 1) 47%, rgba(255, 25, 25, 1) 100%);
        display: flex;
        font-family: cursive;


      }
    }

    &:hover .info
    {
      transform: translateX(0%) scale(1);
      opacity: 1;
    }

    &:hover .poster
    {
      transform: translateX(-100%) scale(0);
      opacity: 0;
    }

    .info::-webkit-scrollbar
    {
      width: 5px;
    }

    .info::-webkit-scrollbar-track
    {
      background-color: red;
    }

    .info::-webkit-scrollbar-thumb
    {
      background: black;
      border-radius: 50px;
    }

    .info
    {
      overflow: auto;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateX(100%) scale(0);
      opacity: 0;
      transition: all 1.5s;

      background: rgb(255, 0, 0);
      background: radial-gradient(circle,
          rgba(255, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 100%);
      color: white;
      padding: 20px;


      .fa-star
      {
        color: gold;
      }

      .language
      {
        width: 40px;
        height: 40px;

        img
        {
          width: 100%;
        }
      }
    }
  }
}